*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #005eb8;
  text-decoration: none;
}
html {
  height: 100%;
  width: 100%;
}



h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  text-align: left;
}

.title {
  margin-top: 20px;
  padding-top: 20px;
  clear: both;
  color: #404040;
  cursor: pointer;
}

.subhead{
  padding-top:10px;
  color: #a8a8a8;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: -.032em;
  cursor: pointer;
}

.paragraph {
  color: #484848;
  cursor: pointer;
}

.noborder{
  border:0px
}



ul {
  margin: 0;
  padding: 0;
  list-style :none;
}

.body-main {
  max-width: 600px;
  margin: 0 auto;
}

article p {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 21px;
  line-height:1.58;
  letter-spacing: -.003em;

}
.left {
  float: left;
}

.right {
  position: fixed;
  left:75%;
  top: 80px;
  text-align:left;
}

.color {
  color: black;
  line-height: 1.5;
  font-size: 14px;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}


.cells {
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  width: 100%;
}

.container {
  max-width: 600px;
  max-height: 600px;
}

.cell {
  display: block;
  width: 12.5%;
  float: left;
  line-height: 200px;
  height: 20px;
  margin: 0;
  border: solid #fff 1px;
  text-align: center;
  vertical-align: text-middle;
  font-size: 100px;
  color: white;
  cursor: pointer;
}

.side {
  font-size: 14px;
}



#a{background-color: #000000}
#b{background-color: #080808}
#c{background-color: #101010}
#d{background-color: #181818}
#e{background-color: #202020}
#f{background-color: #282828}
#g{background-color: #303030}
#h{background-color: #383838}
#i{background-color: #404040}
#j{background-color: #484848}
#k{background-color: #505050}
#l{background-color: #585858}
#m{background-color: #606060}
#n{background-color: #686868}
#o{background-color: #696969}
#p{background-color: #707070}
#q{background-color: #787878}
#r{background-color: #808080}
#s{background-color: #888888}
#t{background-color: #909090}
#u{background-color: #989898}
#v{background-color: #A0A0A0}
#w{background-color: #A8A8A8}
#x{background-color: #A9A9A9}
#y{background-color: #B0B0B0}
#z{background-color: #B8B8B8}
#aa{background-color: #BEBEBE}
#bb{background-color: #C0C0C0}
#cc{background-color: #C8C8C8}
#dd{background-color: #D0D0D0}
#ee{background-color: #D3D3D3}
#ff{background-color: #D8D8D8}
#gg{background-color: #DCDCDC}
#hh{background-color: #E0E0E0}
#ii{background-color: #E8E8E8}
#jj{background-color: #F0F0F0}
#kk{background-color: #F5F5F5}
#ll{background-color: #F8F8F8}
#mm{background-color: #FFFFFF}







