<ul>
  <li class="cell" id="zero"></li>
  <li class="cell" id="one"></li>
  <li class="cell" id="two"></li>
  <li class="cell" id="three"></li>
  <li class="cell" id="four"></li>
  <li class="cell" id="five"></li>
  <li class="cell" id="six"></li>
  <li class="cell" id="seven"></li>
  <li class="cell" id="eight"></li>
  <li class="cell" id="nine"></li>
  <li class="cell" id="a"></li>
  <li class="cell" id="b"></li>
  <li class="cell" id="c"></li>
  <li class="cell" id="d"></li>
  <li class="cell" id="e"></li>
  <li class="cell" id="f"></li>
</ul>

<h1 class="title maybeborder">Shades of Gray</h1>
<h2 class="subhead maybeborder">select an element to change just that color!</h2>

<article>
  <p class="paragraph maybeborder">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum leo vitae convallis posuere. Duis consequat, nunc id condimentum consequat, nibh nulla faucibus lorem, sed dapibus ligula arcu sit amet lorem. Suspendisse ac vulputate tortor, ut vehicula libero. Phasellus finibus tellus tincidunt ligula cursus facilisis. Proin purus enim, bibendum vitae neque in, pulvinar laoreet augue. Integer vitae lacus nec est pellentesque bibendum vitae eget sapien. Maecenas in enim accumsan massa tristique porta at sed dui. Ut varius nibh quis dui ornare ullamcorper. Nullam semper gravida eros et consequat. Sed fermentum posuere lorem in sodales. Nam maximus ipsum ac imperdiet rutrum. Vestibulum lobortis interdum ipsum. Nulla efficitur neque ut augue tempus scelerisque. </p>

  <p class="paragraph"> Integer blandit, dui ac porta egestas, velit lacus venenatis arcu, et ultricies diam magna vitae tellus. Nunc eget nunc id massa consectetur porttitor. Donec sed augue sapien. Integer pharetra velit vel pretium varius. Etiam sit amet elit nibh. Vestibulum justo nisl, porta fermentum tempus in, sodales a sapien. Nulla ultricies egestas rutrum. Vestibulum auctor ligula sit amet est lobortis, nec eleifend massa feugiat. Suspendisse potenti.
  </p>

  <p class="paragraph">
  Vestibulum sollicitudin hendrerit lectus, id cursus neque suscipit id. Aenean quis tincidunt massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus vehicula lorem a turpis lacinia, nec cursus mauris vestibulum. Nam quis mi et elit mattis scelerisque. Duis eu sapien mattis, auctor lectus non, tincidunt velit. Quisque interdum orci a lacus mollis consectetur. Nam nec auctor turpis. Vestibulum bibendum cursus sodales. Pellentesque diam massa, accumsan a luctus at, mollis vel tortor. Quisque sed laoreet augue. In viverra consectetur mauris. Proin ipsum nulla, cursus ut dignissim a, finibus vulputate nisl.
  </p>

  <p class="paragraph">
  Cras commodo nisi eu tempor ornare. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus id metus in est semper condimentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed commodo nunc tellus, nec sodales massa feugiat non. Nullam cursus et erat ac suscipit. Cras dictum mi magna, vel interdum nisi tristique vitae. Etiam porta bibendum sapien nec vulputate. Nunc sodales tempus nibh in hendrerit. Aenean mi dolor, ultrices nec augue eu, molestie tempus ante. Integer sapien urna, commodo eu ullamcorper at, rhoncus eu felis. Nulla scelerisque consequat cursus.
  </p>



</article>
