<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Stylesheets -->
 <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>


  <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
  <script src="/js/application.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />


  <title>HTML + CSS Shades of Grey</title>
</head>

<body>

  <div class="right color">
    Title: <span class="side title">rgb(64, 64, 64), #404040 </span> <br />
    Subhead: <span class="side subhead">rgb(168, 168, 168), #a8a8a8</span> <br />
    Paragraph: <span class="side paragraph">rgb(72, 72, 72), #484848</span> <br />

  </div>

  <div class="body-main">
    <%= yield %>
  </div>



</body>
</html>

